<form method="GET">
  <div class="center-container">
    <div class="checkbox-list">
      <div class="dropdown-checkboxes" role="list" tabindex="0">
        <label for="byMetal">
          <strong class="label-title">By Metal</strong>
          <i class="space fa-solid fa-sort-down"></i>
          <div class="dropdown-checkboxes-content">
            {{#each metalsData}}
              <div class="dropdown-subfield">
                <input
                  type="checkbox"
                  id="{{title}}"
                  name="Metal"
                  value="{{_id}}"
                />
                <label for="{{title}}">
                  {{title}}
                  ({{count}})</label><br />
              </div>
            {{/each}}
            <br />
            <button class="drop-down-button button filled_pink">Apply</button>
          </div>
        </label>
      </div>
      <div class="dropdown-checkboxes" role="list" tabindex="0">
        <label for="byStoneType">
          <strong class="label-title">By Stone Type</strong>
          <i class="space fa-solid fa-sort-down"></i>
          <div class="dropdown-checkboxes-content">
            {{#each stoneTypesData}}
              <div class="dropdown-subfield">
                <input
                  type="checkbox"
                  id="{{title}}"
                  name="StoneType"
                  value="{{_id}}"
                />
                <label for="{{title}}">
                  {{title}}
                  ({{count}})</label><br />
              </div>
            {{/each}}
            <br />
            <button class="drop-down-button button filled_pink">Apply</button>
          </div>
        </label>
      </div>
      <div class="dropdown-checkboxes" role="list" tabindex="0">
        <label for="byStoneColor">
          <strong class="label-title">By Stone Color</strong>
          <i class="space fa-solid fa-sort-down"></i>
          <div class="dropdown-checkboxes-content">
            {{#each stoneColorsData}}
              <div class="dropdown-subfield">
                <input
                  type="checkbox"
                  id="{{title}}"
                  name="StoneColor"
                  value="{{_id}}"
                />
                <label for="{{title}}">
                  {{title}}
                  ({{count}})</label><br />
              </div>
            {{/each}}
            <br />
            <button class="drop-down-button button filled_pink">Apply</button>
          </div>
        </label>
      </div>
    </div>
  </div>
</form>
{{>jewelry-card}}
{{#if loadMoreDisabled}}
<form action="/jewelries/{{categoryId}}/" method="GET">
    <button disabled type="submit" name="loadMore" value="loadMore">LoadMore</button>
</form>
{{else}}
<form action="/jewelries/{{categoryId}}/" method="GET">
    <button type="submit" name="loadMore" value="loadMore">LoadMore</button>
</form>
{{/if}}