{{#each jewelries}}
  <div>
    <img src="{{firstImageUrl}}" />
    <p>{{title}}</p>
    <p><span>Price:</span> {{price}}</p>
    <p><span>Category:</span> {{category.title}}</p>
    {{#each metals}}
    <p><span>Metal:</span> {{metal.title}}</p>
    {{/each}}
    {{#each stones}}
    <p><span>Stone Type:</span>{{#if this.caratWeight }}{{this.caratWeight}}ct.{{/if}} {{color.title}} {{kind.title}}</p>
    {{/each}}
    <a class="btn" href="/jewelries/{{_id}}/details">Details</a>
  </div>
{{/each}}