<form method="GET">
  <div class="center-container">
    <div class="checkbox-list">
      <div class="dropdown-checkboxes" role="list" tabindex="0">
        <label for="byMetal">
          <strong class="label-title">By Metal</strong>
          <i class="space fa-solid fa-sort-down"></i>
          <div class="dropdown-checkboxes-content">
            {{#each metals}}
              <div class="dropdown-subfield">
                <input
                  type="checkbox"
                  id="{{title}}"
                  name="{{title}}"
                  value="{{_id}}"
                />
                <label for="{{title}}">
                  {{title}} ({{count}})</label><br />
              </div>
            {{/each}}
            <br />
            <button class="drop-down-button button filled_pink">Apply</button>
          </div>
        </label>
      </div>
    </div>
  </div>
</form>
<section class="jewelry-cards">
  {{#each jewelries}}
    <article class="jewelry-card">
      <div class="jewelry-card-thumbnail">
        <a href="/jewelries/{{_id}}/details" title="{{title}}">
          <img
            class="jewelry-card-img"
            src="{{firstImageUrl}}"
            alt="{{title}} image"
          />
        </a>
        {{! {% include 'wishlist/like-button.html' %} }}
        {{!-- <div class="jewelry-card-content" onclick="window.location='{% url 'view_jewelry' jewelry.pk %}?page={{ page_obj.number }}'"> --}}
        <div class="jewelry-card-content">
          <p class="jewelry-card-description">
            <ul class="jewelry-card-meta" role="list">
              <li class="jewelry-card-meta-item">
                {{title}}
              </li>
              <li class="jewelry-card-meta-item">
                {{category.title}}
              </li>
              <li class="jewelry-card-meta-item">
                <i class="price__icon fa-solid fa-sack-dollar"></i>
                {{price}}
              </li>
            </ul>
          </p>
        </div>
      </div>
    </article>
  {{/each}}
</section>

{{!-- {{#each jewelries}}
  <div>
    <img src="{{firstImageUrl}}" />
    <a class="btn" href="/jewelries/{{_id}}/details">Details</a>
  </div>
{{/each}} --}}