<div>
  <img src="{{jewelry.firstImageUrl}}" />
  <p>{{earring.title}}</p>
  <p><span>Price:</span> {{jewelry.price}}</p>
  <p><span>Category:</span> {{jewelry.category.title}}</p>
  {{#each jewelry.metals}}
        <p><span>Metals: </span>{{#if
        this.caratWeight
      }}{{this.caratWeight}}ct.{{/if}}
      {{kind.title}}</p>
  {{/each}}
  {{#each jewelry.stones}}
    <p><span>Stone Type: </span>{{#if
        this.caratWeight
      }}{{this.caratWeight}}ct.{{/if}}
      {{color.title}}
      {{kind.title}}</p>
  {{/each}}
  <form action="/bag/{{jewelry._id}}/create" method="POST">
    <label for="size">Size:</label>
    <select id="size" name="size">
      {{#each jewelry.sizes}}
        <option value="{{this._id}}">{{this.measurement}}</option>
      {{/each}}
    </select>
    <input type="submit" value="Add To Bag" />
  </form>
  <a href="/jewelries/{{jewelryType}}">Back</a>
</div>