{{#each jewelry}}
<section class="jewelry-details-wrapper">
<div class="jewelry-details-left-container">
    <div class="jewelry-details-image-first">
        <img class="jewelry-details-img zoom-image" src="{{firstImageUrl}}" alt="image1">
        {{>like-button-forms-jewelry-details}}
    </div>
    <div class="jewelry-details-image-second">
        <img class="jewelry-details-img zoom-image" src="{{secondImageUrl}}" alt="image1">
        {{>like-button-forms-jewelry-details}}
    </div>
</div>
<div class="jewelry-details-right-container">
    <div class="jewelry-details-composition right-sticky">
        {{#each categories}}
        <h6 class="composition-category category">{{this.title}}</h6>
        {{/each}}
        <h5 class="composition-title title">{{ title }}</h5>
        <ul  role="list">
            <li class="details-items">
                {{#each metalInfo}}
                    <span class="composition-item">
                    {{#if this.caratWeight}}{{this.caratWeight}}ct.{{/if}}
                        {{this.metal.title}}{{#unless @last}},{{/unless}}
                  </span>
                {{/each}}
            </li>
            <li class="details-items">
                {{#each stoneInfo}}
                    <span class="composition-item">
                    {{#if this.caratWeight}}{{this.caratWeight}}ct.{{/if}}
                        {{this.stoneColor}}
                        {{this.stoneType}}{{#unless @last}},{{/unless}}
                    </span>
                {{/each}}
            </li>
            <li>
                <div class="price">
                    ${{price}}
                </div>
            </li>
            <li class="composition-details">
                <form action="/bag/{{_id}}/create" method="POST">
                    <h3>
                        <label class="materials">Size:</label>
                    </h3>
                    <div class="materials-details">
                        {{#each sizes}}
                            <div class="radio-option">
                                <input type="radio" id="{{this._id}}" name="size" value="{{this._id}}">
                                <label for="{{this._id}}">{{this.measurement}}</label>
                            </div>
                        {{/each}}
                    </div>
                    <button class="button hover filled_green add-to-bag"><i
                            class="fa-solid fa-plus"></i> Add To Bag
                    </button>
                </form>
            </li>
        </ul>
    </div>
</div>
</section>
{{/each}}
{{>lastViewedJewelries}}