<main>
  <h1>Edit Profile</h1>
  <div class="form">
    <form method="POST">
      <label for="firstName">First Name</label>
      <input type="text" id="firstName" value="{{firstName}}" name="firstName" />

      <label for="lastName">Last Name</label>
      <input type="lastName" id="lastName" value="{{lastName}}" name="lastName" />


      <label for="phoneNumber">Phone Number</label>
      <input type="phoneNumber" id="phoneNumber" value="{{phoneNumber}}" name="phoneNumber" />


      <label for="country">Country</label>
      <input type="country" id="country" value="{{country}}" name="country" />


      <label for="city">City</label>
      <input type="city" id="city" value="{{city}}" name="city" />


      <label for="address">Delivery Address</label>
      <input type="address" id="address" value="{{address}}" name="address" />

        <input type="submit" value="Edit" />
    </form>
  </div>
</main>