<div class="success-container">
  <label for="closeSuccess" class="close-button">×</label>
  {{#each messages.success}}
    <input
      type="checkbox"
      id="successCheckbox{{forloop.index}}"
      class="success-checkbox"
    />
    <div class="success" id="successContainer{{forloop.index}}">
      <label
        for="successCheckbox{{forloop.index}}"
        class="close-button"
      >×</label>
      {{this}}
    </div>
  {{/each}}
</div>
<section class="form-container">
  <div>
    <form method="POST">
      <h4 class="form-title">Personal Information</h4>
      <ul role="list">
        <li class="form-item">
          Your First Name
        </li>
        <li class="form-item">
          <input
            type="text"
            id="firstName"
            value="{{profile.firstName}}"
            name="firstName"
            placeholder="Enter Your First Name"
          />
        </li>
        <li class="form-item">
          Your Surname
        </li>
        <li class="form-item">
          <input
            type="lastName"
            id="lastName"
            value="{{profile.lastName}}"
            name="lastName"
            placeholder="Enter Your Last Name"
          />
        </li>
        <li class="form-item">
          Your Phone Number
        </li>
        <li class="form-item">
          <input
            type="phoneNumber"
            id="phoneNumber"
            value="{{profile.phoneNumber}}"
            name="phoneNumber"
            placeholder="Enter Your Phone Number"
          />
        </li>
      </ul>
      <h4 class="form-title">Delivery Information</h4>
      <ul role="list">
        <li class="form-item">
          Country
        </li>
        <li class="form-item">
          <input
            type="country"
            id="country"
            value="{{profile.country}}"
            name="country"
            placeholder="Enter Your Country"
          />
        </li>
        <li class="form-item">
          City
        </li>
        <li class="form-item">
          <input
            type="city"
            id="city"
            value="{{profile.city}}"
            name="city"
            placeholder="Enter Your City"
          />
        </li>
        <li class="form-item">
          Address
        </li>
        <li class="form-item">
          <input
            type="address"
            id="address"
            value="{{profile.address}}"
            name="address"
            placeholder="Enter Your Address"
          />
        </li>
      </ul>
      <button class="edit-btn button hover filled_green" type="submit"><i
          class="fa-regular fa-floppy-disk"
        ></i>
        Confirm and Save
      </button>
    </form>
  </div>
  <div>
    <form method="post" action="/users/change-email">
      <h4 class="form-login-or-register-title">Login Information</h4>
      <h5>Update Email Address</h5>
      <ul role="list">
        <li class="form-item">
          <input
            type="text"
            id="email"
            placeholder="Enter your email"
            value="{{email}}"
            name="email"
          />
        </li>
        <li class="form-item">
          <input
            type="password"
            id="password"
            placeholder="Enter your password"
            name="password"
          />
        </li>
      </ul>
      <input type="hidden" name="next" />
      <button class="register-button button filled_green">Submit</button>
    </form>
    <div>
      <form method="post" action="/users/change-password">
        <h4 class="form-login-or-register-title">Update Password</h4>
        <ul role="list">
          <li class="form-item">
            <input
              type="password"
              id="oldPassword"
              placeholder="Enter your current password"
              name="oldPassword"
            />
          </li>
          <li class="form-item">
            <input
              type="password"
              id="password"
              placeholder="Enter your password"
              name="password"
            />
          </li>
          <li class="form-item">
            <input
              type="password"
              id="repeatPassword"
              placeholder="Confirm your password"
              name="repeatPassword"
            />
          </li>
        </ul>
        <input type="hidden" name="next" />
        <button class="register-button button filled_green">Submit</button>
      </form>
    </div>
    <button class="edit-btn button hover filled_red">
      <a href="/users/delete-confirmation">
        <i class="fa-solid fa-user-slash"></i>
        Delete Profile
      </a>
    </button>
  </div>
</section>