<div class="icon-container">
  <button class="btn">
    <form method="GET">
      <input
        type="checkbox"
        id="search-toggle"
        class="search-toggle"
        value="{{search}}"
        name="search"
        placeholder="Find Jewelry"
      />
      <input
        class="search"
        name="search"
        value="{{search}}"
        placeholder="Find a Jewelry"
        style="text-align: center"
      />
      <label for="search-toggle" class="search-icon">
        <i
          class="button-no-margin-left icon-button fa-solid fa-magnifying-glass"
        ></i>
      </label>
    </form>
  </button>
  {{#if likeCount}}
    <button class="btn">
      <a href="/likes/">
        <i class="fa-regular fa-heart"></i>
        <span class="likes-count-nav">({{likeCount}})</span>
      </a>
    </button>
  {{else}}
    <button class="btn">
      <a href="/likes/">
        <i class="fa-regular fa-heart"></i>
      </a>
    </button>
  {{/if}}
  {{#if bagCount}}
    <button class="btn">
      <a href="/bag/">
        <i class="icon-button fa-solid fa-bag-shopping"></i>
        <span class="cart-count-nav">({{bagCount}})</span>
      </a>
    </button>
  {{else}}
    <button class="btn">
      <a href="/bag/">
        <i class="icon-button fa-solid fa-bag-shopping"></i>
      </a>
    </button>
  {{/if}}
  <button class="btn">
    <a href="/orders-history/{{user._id}}">
      <i class="fa-solid fa-clock-rotate-left"></i>
    </a>
  </button>
  {{#unless isAuthenticated}}
    <button class="btn">
      <a href="/users/login">
        <i class="icon-button fa-regular fa-user"></i>
      </a>
    </button>
  {{else}}
    <button class="btn">
      <a href="/profiles/edit">
        <i class="icon-button fa-regular fa-user"></i>
      </a>
    </button>
  {{/unless}}
  <button class="btn">
    <a href="/orders-history/{{user._id}}">
      <i class="fa-solid fa-arrow-right-from-bracket"></i>
    </a>
  </button>
</div>