<section class="jewelry-cards">
  {{#each jewelries}}
    <article class="jewelry-card">
      <div class="jewelry-card-thumbnail">
        <a href="/jewelries/{{jewelry._id}}/details" title="{{jewelry.title}}">
          <img
            class="jewelry-card-img"
            src="{{jewelry.firstImageUrl}}"
            alt="{{jewelry.title}} image"
          />
        </a>
        {{>like-button-forms}}
        <div class="jewelry-card-content">
          <p class="jewelry-card-description">
            <ul class="jewelry-card-meta" role="list">
              <li class="jewelry-card-meta-item">
                {{jewelry.title}}
              </li>
              <li class="jewelry-card-meta-item">
                {{jewelry.category.title}}
              </li>
              <li class="jewelry-card-meta-item">
                <i class="price__icon fa-solid fa-sack-dollar"></i>
                {{jewelry.price}}
              </li>
            </ul>
          </p>
        </div>
      </div>
    </article>
  {{/each}}
</section>