<section class="jewelry-cards">
  {{#each jewelries}}
    <article class="jewelry-card">
      <div class="jewelry-card-thumbnail">
        <a href="/jewelries/{{jewelryIds}}/details" title="{{jewelryTitle}}">
          <img
            class="jewelry-card-img"
            src="{{firstImageUrl}}"
            alt="{{jewelryTitle}} image"
          />
        </a>
        {{>like-button-forms}}
        <div class="jewelry-card-content">
          <p class="jewelry-card-description">
            <ul class="jewelry-card-meta" role="list">
              <li class="jewelry-card-meta-item">
                <i>{{jewelryTitle}}</i>
              </li>
              <li class="jewelry-card-meta-item">
                {{categoryTitle}}
              </li>
              <li class="jewelry-card-meta-item">
                <i class="price__icon fa-solid fa-sack-dollar"></i>
                {{price}}
              </li>
            </ul>
          </p>
        </div>
      </div>
    </article>
  {{/each}}
</section>