<div>
  <img src="{{earring.firstImageUrl}}" />
  <p>{{earring.title}}</p>
  <p><span>Price:</span> {{earring.price}}</p>
  <p><span>Category:</span> {{earring.category.title}}</p>
  {{#each earring.metals}}
        <p><span>Metals: </span>{{#if
        this.caratWeight
      }}{{this.caratWeight}}ct.{{/if}}
      {{kind.title}}</p>
  {{/each}}
  {{#each earring.stones}}
    <p><span>Stone Type: </span>{{#if
        this.caratWeight
      }}{{this.caratWeight}}ct.{{/if}}
      {{color.title}}
      {{kind.title}}</p>
  {{/each}}
  <form action="/add-to-bag/{{earring._id}}" method="POST">
    <label for="size">Size:</label>
    <select id="size" name="size">
      {{#each earring.sizes}}
        <option value="{{this._id}}">{{this.measurement}}</option>
      {{/each}}
    </select>
    <input type="submit" value="Add To Bag" />
  </form>
  <a href="/earrings/all">Back</a>
</div>