<h1>Shopping Bag</h1>
{{#each bagItems}}
  <img src="{{jewelry.firstImageUrl}}" />
  <p>{{jewelry.title}}</p>
  <p><span>Price:</span> {{jewelry.price}}</p>
  <p><span>Category:</span> {{jewelry.category.title}}</p>
  {{#each jewelry.metals}}
    <p><span>Metals: </span>{{#if
        this.caratWeight
      }}{{caratWeight}}ct.{{/if}}
      {{kind.title}}
    </p>
  {{/each}}
  {{#each jewelry.stones}}
    <p><span>Stone Type: </span>{{#if
        this.caratWeight
      }}{{caratWeight}}ct.{{/if}}
      {{color.title}}
      {{kind.title}}
    </p>
  {{/each}}
  <p>Size: {{size.measurement}}</p>
  <p>Quantity: {{quantity}}</p>
  <div class="quantity-input">
    <form method="POST">
      <input
        type="number"
        class="quantity-field"
        name="updatedQuantity"
        value="{{quantity}}"
        min="{{minQuantity}}"
        max="{{maxQuantity}}"
      />
      <input type="hidden" name="bagItemId" value="{{bagItemId}}" />
      <input type="submit" value="Update" />
    </form>
  </div>
{{/each}}