<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JSGems</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="/css/colors.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/css/icons.css"/>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://res.cloudinary.com/deztgvefu/image/upload/v1706426486/template_images/cute-little-pink-cat-watercolor-png_2_kxmwtq.webp"
    />
  </head>
  <body class="body">
    <header class="header">
        <div class="logo-img-container">
      <a href="/">
        <img
          class="logo-img"
          src="https://res.cloudinary.com/deztgvefu/image/upload/v1713031548/template_images/Screenshot_2024-04-13_at_21.02.23_1_rtwa7t.png"
          alt="logo"
        />
      </a>
    </div>
      {{>nav}}
      {{>icons}}
    </header>
    <div class="error-container">
    <label for="closeError" class="close-button">×</label>
    {{#each errorMessages}}
        <input type="checkbox" id="errorCheckbox{{ forloop.index }}" class="error-checkbox" >
        <div class="error" id="errorContainer{{ forloop.index }}">
            <label for="errorCheckbox{{ forloop.index }}" class="close-button">×</label>
            {{this}}
        </div>
        {{/each}}
</div>
    <main class="main">
      {{{body}}}
    </main>
  </body>
  <footer class="footer">
    <div>
        © 2024 JS Gems | Beatris Ilieve | beatrisilieve@icloud.com
    </div>
</footer>
</html>