<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JSGems</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://res.cloudinary.com/deztgvefu/image/upload/v1707847670/template_images/Screenshot_2024-02-13_at_20.06.31-modified_pyjryy.png"
    />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="/">
              <img
                class="logo"
                src="https://res.cloudinary.com/deztgvefu/image/upload/v1707847670/template_images/Screenshot_2024-02-13_at_20.06.31-modified_pyjryy.png"
                alt="logo"
              />
            </a>
          </li>
          <li>
            <a href="/earrings/all">Earrings</a>
          </li>
          <li>
            <a href="/necklaces">Necklaces</a>
          </li>
          <li>
            <a href="/bracelets">Bracelets</a>
          </li>
          <li>
            <a href="/rings">Rings</a>
          </li>
          {{#if isAuthenticated}}
            <li>
              <a href="display-bag/{{user._id}}">Shopping Bag</a>
            </li>
            <li>
              <a href="users/logout">Logout</a>
            </li>
            <li>
                <a href="/users/{{user._id}}/delete">Delete Profile</a>
            </li>
            <li>{{user.email}}</li>
          {{else}}
            <li>
              <a href="users/login">Login</a>
            </li>
            <li>
              <a href="users/register">Register</a>
            </li>
          {{/if}}
          <form method="GET">
            <input
              type="text"
              id="searchInput"
              value="{{search}}"
              name="search"
              placeholder="Find Jewelry"
            />
            <button id="searchButton">Search</button>
          </form>
        </ul>
      </nav>
    </header>
    {{#each errorMessages}}
      <div id="notifications">
        <p id="notification-message">{{this}}</p>
      </div>
    {{/each}}
    {{{body}}}
  </body>
</html>